.MakeCard {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(207, 207, 207, 0.4);
  border-radius: 0%;
  background-color: white;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  position: relative;
  transition: 200ms;
}

.MakeCard:hover {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.814);
}

.MakeCard img {
  width: 120px;
}

.MakeCard h2 {
  font-size: 1.4rem;
  margin: 0;
}
.MakeCard span {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: rgba(68, 68, 68);
}

.MakeCard button {
  position: absolute;
  top: 0;
  left: 0;
  transition: 400ms;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}
