.FooterComponent {
  background-color: rgb(58, 58, 58);
  height: 40px;
  width: 100%;
  position: relative;
}

.FooterComponent p {
  color: silver;
  font-size: 14px;
  position: relative;
  text-align: center;
  top: 9px;
  left: 28px;
}

.FooterComponent p i {
  color: rgb(235, 235, 235);
}

.FooterComponent-toTop {
  float: right;
  position: relative;
  right: 10px;
  bottom: 33px;
  width: 50px;
}

.FooterComponent-toTop img {
  height: 50px;
  transition: 100ms;
}

.FooterComponent-toTop img:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.VehicleContainer-racing-flag {
  position: absolute;
  bottom: 27px;
  left: 10px;
  background-image: url(/src/assetes/racing-flag.png);
  background-size: cover;
  width: 65px;
  height: 40px;
  transition: 700ms;
}

.VehicleContainer-racing-flag:hover {
  transform: rotateY(180deg);
}

@media (max-width: 470px) {
  .FooterComponent-toTop {
    bottom: 115px;
  }
  .VehicleContainer-racing-flag {
    bottom: 110px;
  }
}
