.Links {
  margin: 0px 25px;
  color: rgb(121, 121, 121);
  text-decoration: none;
  transition: 200ms;
}

.Links:hover {
  color: rgb(184, 184, 184);
  text-decoration: none;
}

@media (max-width: 991px) {
  .Links {
    margin: 0;
  }
  .Links-edit {
    margin-bottom: 7px;
  }

  .NavbarComponent-form {
    margin-bottom: 11px;
  }

  #navbar-logo {
    position: relative;
    left: -3px;
  }
}
