.page-item {
  border-radius: 10px;
  text-align: center;
  width: 80px;
}

.Pagination-nav {
  background-color: rgb(58, 58, 58);
  width: 100%;
  height: 60px;
}
.Pagination-nav ul {
  position: relative;
  top: 14px;
  left: 2px;
}

@media (max-width: 365px) {
  .Pagination-nav {
    position: relative;
    left: -2px;
  }
}
