.MakePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 10px;
}

.MakeContainer {
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 83.2vh;
  min-width: 50%;
}

@media (max-width: 469px) {
  .MakeContainer {
    padding-bottom: 50px;
  }
}
